.admin-dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
  min-height: 100vh;
  background-color: #1a4162;

  nav {
    display: flex;
    border-bottom: 1px solid #1a4162;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    grid-area: navbar;
    background-color: rgb(255, 255, 255);
    padding: 0 1em;
    .navbar-items{
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 35px;
        font-weight: 600;
        color: #1a4162;
    }
    .user-profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 12px;
      box-sizing: border-box;
      background: #f5f5f5;
      border: 1px solid #8b8383;
      border-radius: 40px;
      width: 90px;
      height: 45px;

      svg{
        fill: #1a4162;
        
      }
      .arrow-icon {
        transition: transform 0.2s ease-in-out;
  
        &.rotate {
          transform: rotate(180deg);
        }
    }

  
      .dropdown-menu {
        position: absolute;
        top: 75px;
        transition: transform 0.2s ease-in-out;

        right: 10px;
        background-color: #ffffff;
        border-radius: 8px;
        width: 250px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        z-index: 10;
        overflow: hidden;
  
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          li {
            padding: 12px 16px;
            color: #1a4162;
            cursor: pointer;
            transition: background-color 0.3s;
            border-bottom: 1px solid #1a4162;
            text-align: center;
  
            &:hover {
              background-color: #6187a8;
              color: #ffffff;
            }
          }
        }
      }
    }
    .logo {
      width: 150px;
      height: 80px;
    }
    button {
      background-color: yellow;
      color: yellow;
    }
  }
  aside {
    position: sticky;
    top: 100px;
   
    height: calc(100vh - 100px);
    grid-area: sidebar;
    box-sizing: border-box;
    padding: 5px 1em;
    border-right: 1px solid #1a4162;
    overflow-y: auto;
    text-wrap: nowrap;
    transition: max-width 300ms ease-in-out;
    
    max-width: 300px;
    scrollbar-width: none;
    
    ul {
      list-style: none;
    }
    ul li.active a {
      color: #d4dbe0;
    }
    a,
    .dropdown-btn {
      border-radius: 0.5em;
      padding: 0.85em;
      text-decoration: none;
      color: #d4dbe0;
      display: flex;
      align-items: center;
      gap: 1em;
    }
    .dropdown-btn {
      width: 100%;
      text-align: left;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
    }
    a span,
    .dropdown-btn span {
      flex-grow: 1;
    }
    a:hover,
    .dropdown-btn:hover {
      background-color: #275781;
    }
    .sub-menu {
      display: grid;
      grid-template-rows: 0fr;
      transition: 300ms ease-in-out;
      > div {
        overflow: hidden;
      }
    }
    .sub-menu.show {
      grid-template-rows: 1fr;
    }
    .dropdown-btn i {
      transition: 200ms ease;
    }
    .rotate i:last-child {
      rotate: 180deg;
    }
    .sub-menu a {
      padding-left: 2em;
    }
    #Menu {
      margin-left: auto;
      padding: 1em;
      border: none;
      border-radius: 0.5em;
      background: none;
      cursor: pointer;

      i {
        transition: rotate 150ms ease;
      }
      &:hover {
        background: #275781;
      }
    }
  }
  aside.close{
    padding: 5px;
    max-width: 60px;
    transition: 300ms ease-in-out;
    
  }
  aside::-webkit-scrollbar {
    width: 10px; /* Largeur de la scrollbar */
  }

  aside::-webkit-scrollbar-track {
    background: #1a4162; /* Couleur de l'arrière-plan de la track */
  }

  aside::-webkit-scrollbar-thumb {
    background-color: #436583; /* Couleur de la "thumb" (la barre qu'on fait glisser) */
    border-radius: 5px; /* Arrondi des coins de la barre */
    border: 2px solid #1a4162; /* Bordure autour de la barre */
  }

  aside::-webkit-scrollbar-thumb:hover {
    background-color: #6592b9; /* Couleur de la thumb au survol */
  }
  aside > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
  }
  main {
    grid-area: main;
    background-color: #ffffff;
    padding: 0 5%;

  }
  footer {
    grid-area: footer;

    padding: 1em;
  }
}
@media (max-width: 800px) {
  .admin-dashboard {
    grid-template-columns: 1fr;

    aside {
      position: fixed;
      width: 300px;
      display: none;
    }
    .show {
      display: block;
    }
  }
}
